_site/
.quarto/
_freeze/
**/.ipynb_checkpoints/
.DS_Store

/.quarto/
**/*.quarto_ipynb

# Quarto-generated notebooks
1-2-encoding/1-2-3-character-encoding/demo-lab-teacher.ipynb
1-2-encoding/1-2-3-character-encoding/demo-lab-student.ipynb

# Generated lab files
1-2-encoding/1-2-3-character-encoding/assets/gb2312-lab.txt
1-2-encoding/1-2-3-character-encoding/assets/utf8-lab.txt
