body { font-family: "Alibaba PuHuiTi 3.0 55 Regular", sans-serif; font-size: 20px; }
td, th { padding: 12px; }
@media print { body { font-size: 12pt; } h2 { break-after: avoid; } table { break-inside: avoid; } }
