.reveal {font-family:"Alibaba PuHuiTi 3.0 55 Regular",sans-serif;color:#262626;background:white;border-top:8px solid #6251b1;border-bottom:8px solid #6251b1;font-size:30px}
.reveal h1,.reveal h2 {font-family:"Alibaba PuHuiTi 3.0 115 Black",sans-serif;color:#262626;text-align:left;text-transform:none;font-weight:normal;font-size:44px}
.reveal .slides section {text-align:left;line-height:1.5}
.reveal-answer {color:#6251b1;border-top:1px solid #ddd;padding-top:24px;margin-top:24px}
